.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
body{
  background: black;
}
table{
  background: yellow;
  width: 50vw;
  text-align:left;
  border: solid black 1px;
  border-collapse:collapse;
}
td ,th{
  border: solid black 1px;
}
.buttonContainer{
  margin-top: 50px;
  color: white;
}
.detailsContainer{
  color: white;
  text-align: center;
}