
.buttonContainer{
  display: flex;
  align-items: center;
  margin: 20px;
  color: white;
}
.buttonContainer button{
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  background: transparent;
  color: rgb(221, 219, 219);
}
.buttonContainer button:disabled{
  color: gray;
}